// COLORS
$color-primary: #7b1fa2;
$color-primary-light: #ad43db;
$color-primary-dark: #7b1fa2;

$color-secondary-light: #28c2ff;
$color-secondary-dark: #28c2ff;

$color-tertiary-light: #39a2ae;
$color-tertiary-dark: #39a2ae;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 120rem;
$grid-gap: 2rem;
$grid-gap-small: 1rem;
$grid-gap-horizontal: 6rem;

$border-radius: .3rem;