/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body { margin: 0; box-sizing: border-box; line-height: 1.5; font-family: Roboto, "Helvetica Neue", sans-serif; }


::selection {
  background-color: #7b1fa2;
  color: #fff;
  padding: 2rem;
}