@import 'abstracts/mixins';
@import 'abstracts/variables';

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.media-register {
  height: 44rem;
  @include respond(tab-port) {
    height: auto;
    margin-top: 1rem;
  }
}

.col-sm-6 {
  flex-basis: 50%;
  max-width: 50%;

  @include respond(tab-port) {
    margin: 2rem 0;
    flex-basis: 100%;
    max-width: 100%;
  }
}

#particles-js {
  background-image: linear-gradient(to right bottom, $color-tertiary-dark, $color-primary-dark);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 250%;
  width: 100%;
}