@import 'abstracts/mixins';

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.media-register {
  height: 44rem;
}

.col-sm-6 {
  flex-basis: 50%;
  max-width: 50%;
}

#particles-js {
  background-color: #30138b;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 250%;
  width: 100%;
}