<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
      <mat-card-subtitle>Al registrarte recibirás las últimas actualizaciones de música a tu alrededor en la bandeja de tu correo</mat-card-subtitle>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre Completo</mat-label>
          <input matInput placeholder="Username" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="test@example.com" required>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Registrarme</button>
    </form>
  </mat-card>

</div>
